---
layout: default
title: Search GitLab
suppress_header: true
extra_css:
  - search.css
extra_js:
  - search-page.js
---

.animation-icon-container
  - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
    .animation-icon
      = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
.gitlab-content-container
  .search-container
    %h3 👋 Hello, how can we help?
    .search-box-large.js-search-box
      %i.fas.fa-search.search-icon
      %input.js-search{ type: "text", placeholder: "What are you looking for?", autofocus: "" }
  .relevant-links
    %h5
      Here are some useful links
    .relevant-links-container.flex-wrap-md
      .links
        %a{ href: "https://docs.gitlab.com/" } Search the docs
        %a{ href: "/solutions/open-source/projects/" } Open source projects
      .links
        %a{ href: "https://gitlab.com/explore" } Search gitlab.com
        %a{ href: "/product/" } Product
      .links
        %a{ href: "/jobs/" } Jobs
        %a{ href: "/sales/" } Contact sales
